@charset "UTF-8";
/* line 6, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.field {
  text-align: left !important;
}

/* line 10, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
input[type=text] {
  -webkit-transition: .3s all;
  transition: .3s all;
  padding: 5px 20px;
}

/* line 15, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 19, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.back-return {
  height: 20px;
  margin-top: 20px;
}

/* line 24, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.back-return img {
  height: 40px;
  margin-top: 20px;
}

/* line 29, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
select {
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none;
       appearance: none;
  padding: 5px;
  background-size: 19px !important;
  background-repeat: no-repeat !important;
  background-position: 95% 56% !important;
  outline: none !important;
}

/* line 41, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
select:focus {
  outline: none !important;
}

/* line 45, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
input:disabled {
  background: #A0A0A0;
}

/* line 49, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.repas-new .field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 56, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.repas-container {
  margin: 1em 0;
}

/* line 60, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.repas-infos {
  padding: 1em;
  width: 100%;
}

/* line 65, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.edit-repas {
  position: absolute;
  right: 0;
  bottom: -10px;
}

/* line 71, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.valrepas-container {
  margin-bottom: 2em;
}

/* line 75, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.assist {
  margin-top: 1em;
}

/* line 78, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.edit-repas-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}
/* line 82, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.edit-repas-header a, .edit-repas-header img {
  margin: 0 !important;
}

/* line 87, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.date label {
  width: 100%;
}

/* line 91, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
select::after {
  content: 'V';
}

/* line 95, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.date select {
  padding-right: 25px;
  font-size: 12px;
  background-size: 14px !important;
}

/* line 101, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.pop-up {
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9998;
}

/* line 114, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.pop-up-container {
  position: relative;
  margin: 20em auto;
  width: 400px;
  background-color: white;
  height: 120px;
  z-index: 9999;
  color: black;
  text-align: center;
  padding: 2em 1em;
}
/* line 124, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.pop-up-container a, .pop-up-container a:hover {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1em;
  padding: 4px 7px;
  color: white;
  text-decoration: none;
}

/* line 134, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.button-confirmation {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9999;
  background: #5B1633;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
}

/* line 147, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.resbutton {
  cursor: pointer;
}

/* line 151, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.parbutton  {
  text-align: center;
}
/* line 153, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.parbutton  p {
  margin: 0;
}

/* line 158, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.city-selector {
  width: 40vw;
  padding: 2em;
  text-align: center;
  margin: auto;
}
/* line 163, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.city-selector ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 2em auto;
  padding: 0;
}
/* line 171, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.city-selector ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 7px;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  border: 1px solid transparent;
  margin: 0 2em;
}
/* line 182, /Users/mathieu/Sites/Paupiette/app/assets/stylesheets/repas.scss */
.city-selector ul li:hover {
  background: white;
  color: #5B1633;
  border: 1px solid #5B1633;
}
