<% if current_user.id == @repa.user_id %>
<h1>Editing Repa</h1>

<%= render 'form', repa: @repa %>

<%= link_to 'Show', @repa %> |
<%= link_to 'Back', repas_path %>
<% else %>
  <%= raise ActionController::RoutingError.new('Not Found') %>
<%end%>
