<div class="cgu-container">
  <h1 class="font-violet"> Conditions générales d’utilisation du site www.paupiette.co </h1>


    <h2>1. Objet</h2>
      <ul>
        <span>1.1</span> - Les présentes conditions générales ont pour objet de régir les conditions et modalités d’utilisation du site www.paupiette.co (ci-après : le « site »).  Ainsi que de définir les droits et obligations des parties mises en relation sur celui-ci où utilisant des services qui y sont proposés (ci-après : les « <b>Services</b> »).
      </ul>
      <ul>
        <span>1.2</span> - Le site est une plateforme de mise en relation permettant aux internautes d’organiser, des repas (ci-après <b>déjeuners</b>) et d’y participer. Le but est de se réunir, lors d’un moment de convivialité au domicile de l’organisateur du déjeuner.<br><br>
        Un déjeuner est un moment réunissant :<br>
        D’une part le ou les organisateurs du déjeuner ci-après « <b>les hôtes</b> » d’une zone géographique qui proposent par l’intermédiaire du site d’organiser un déjeuner à leur domicile.<br><br>
        D’autre part les internautes qui qui s’inscrivent pour pouvoir y participer, ci-après « <b>les convives</b> » <br><br>
        Est fait la distinction entre une personne qui a fait la démarche d’inscription sur le site (ci-après « membre ») et le visiteur simple qui se rend sur le site sans s’inscrire (ci-après « <b>visiteur</b> »). <br><br>
        Le déjeuner est organisé à l’initiative de l’hôte qui en assure le bon déroulement. Le coordinateur Paupiette représentant l’antenne locale de Paupiette est chargé de la mise en relation entre l’hôte et les convives. Cette mise en relation passe par le site et son espace dédié. <br>
      </ul>
      <ul></ul>

    <h2>2. Exploitant du site et des services, contacts</h2>
      <ul>
        Le site de mise en relation entre particuliers www.paupiette.co est exploité par l’association PAUPIETTE N° SIRET : 819031014 00015.<br><br>

        L’association peut être contactée aux coordonnées suivantes :<br>
        Adresse postale : Paupiette - Adresse : 306, vieille route de Briec - 29000 Quimper – France<br>
        Téléphone :<br>
        Adresse électronique : contact@paupiette.co
      </ul>

    <h2>3. Conditions relatives à l’accès au Site et aux Services</h2>
      <ul>
        Le Site et ses Services sont accessibles a toute personne physique disposant de la pleine capacité juridique pour s’engager au titre des présentes conditions générales. La personne physique qui ne dispose pas de la pleine capacité juridique ne peut accéder au Site et aux Services qu’avec l’accord de son représentant légal.<br><br>
        A toute personne morale agissant par l’intermédiaire d’une personne physique disposant de la capacité juridique pour contracter au nom et pour le compte de la personne morale.
      </ul>


    <h2>4. Acceptation des conditions générales d’utilisation</h2>
      <ul>
        <span>4.1</span> - L’accès et l’utilisation du site sont soumis à l’acceptation pleine et entière des présentes conditions générales de vente et d’utilisation.
      </ul>
      <ul>
        <span>4.2</span> - L’acceptation des présentes conditions générales par les utilisateurs qui s’inscrivent sur le Site est matérialisée par la case à cocher « j’accepte les conditions générales de vente et d’utilisation du site et du service proposé » dans le formulaire d’inscription. <br><br>
        S’agissant des Visiteurs Simples, non-inscrits sur le Site, leur utilisation de celui-ci et/ou service entraine l’acceptation des présentes conditions générales, sans restriction ni réserve.
      </ul>
      <ul>
        <span>4.3</span> - Les présentes conditions générales sont accessibles et imprimables à tout moment par un lien direct en page d’accueil du site.
      </ul>
      <ul>
        <span>4.4</span> - L’association Paupiette se réserve le droit de modifier, à tout moment et sans préavis le site et des services ainsi que les présentes CGU, notamment pour s’adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités, la modification ou la suppression de fonctionnalités existantes.<br>
        Il est donc conseillé aux Visiteurs de se référer avant toute navigation à la dernière version des CGU, accueille à tout moment sur le site. En cas de désaccord avec le CGU, aucun usage du site ne saurait être effectué par le Visiteur.
      </ul>


    <h2>5. Accès, navigation et gestion du site</h2>
      <ul>
        <span>5.1</span> - L’association Paupiette met en œuvre les solutions techniques à sa disposition pour permettre l’accès au site 24 heures sur 24, 7 jours sur 7. Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l’accès au site où à certaines pages de celui-ci afin de procéder à des mises a jours, des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.
      </ul>
      <ul>
        <span>5.2</span> - Les présentes CGU s’appliquent à toute déclinaison ou extension du Site, sur les réseaux sociaux et/ou communautaires de l’Association, existants ou à venir.
      </ul>


    <h2>6. Inscription</h2>
      <ul>
        <span>6.1</span> - L’inscription et la création d’un compte membre est un préalable indispensable à toute utilisation du Site en qualité de Membre. L’inscription d’un Visiteur induit un changement de statut, il devient alors Membre.
      </ul>
      <ul>
        <span>6.2</span> - L’inscription en tant que membre s’effectue sur le Site, par le biais d’un formulaire prévu a cet effet. Elle est gratuite. Le visiteur doit remplir l’ensemble des champs obligatoires. Toute inscription incomplète ne peut être prise en compte. <br>
        Cette inscription entraîne automatiquement l’ouverture d’un compte au nom du nouveau membre inscrit qui lui permet d’avoir accès à une page de configuration de son compte.
      </ul>
      <ul>
        <span>6.3</span> - L’Utilisateur garantit que toutes les informations qu’il donne dans le formulaire d’inscription sont exactes, à jour et sincères et ne sont pas entachées d’aucun caractère trompeur.<br><br>
        Il s’engage à mettre à jour ses informations dans la Page Mon Compte en cas de modification, afin qu’elles correspondent toujours aux critères susvisés.<br><br>
        L’Utilisateur est informé que les informations saisies aux fins de création ou de mise à jour de sa Page Mon Compte valent preuve d’identité. Les informations qu’il saisit l’engagent dès son inscription et pendant toute son utilisation du site. L’association se réserve le droit de vérifier, à tout moment, l’exactitude des données par lui fournies et de lui demander un document ou information complémentaire, l’Utilisateur s’obligeant à répondre sans délais à cette demande.
      </ul>
      <ul>
        <span>6.4</span> - L’inscription et l’accès aux services du site sont réservés exclusivement aux personnes physiques capables juridiquement, ayant rempli et validé le formulaire d’inscription ci-dessus mentionné ainsi que les présentes Conditions Générales d’Utilisation.
      </ul>
      <ul>
        <span>6.5</span> - L’accès à la page Mon Compte est soumis à l’usage d’un identifiant et d’un mot de passe dont l’Utilisateur a libre choix. Il peut le modifier à tout moment lors de son utilisation du Site.<br><br>
        Il est seul responsable du maintien de la confidentialité de son identifiant et de son mot de passe. Il doit immédiatement contacter l’Association Paupiette mentionnée à l’article 2 ci-dessus en cas de vol, perte, de détournement ou d’utilisation non autorisée de ses identifiants de connexion ou s’il remarque que son compte a été utilisé à son insu. Il reconnaît à l’Association le droit de prendre toutes mesures appropriées en pareil cas.
      </ul>

      <ul>
        <span>6.6</span> - L’utilisateur s’engage à utiliser personnellement les Services et à ne permettre à aucun tiers de les utiliser ou pour son compte.
      </ul>


    <h2>7. Désinscription</h2>
      <ul>
        <span>7.1</span> - L’inscription aux services Paupiette sont souscrits pour une durée indéterminée.
      </ul>
      <ul>
        <span>7.2</span> - Le Membre peut à tout moment décider de se désinscrire du Site à travers sa page Mon Compte.<br>
        La désinscription est effective immédiatement. Elle entraine la suppression automatique du compte qui, n’a alors plus accès aux Services.<br><br>

        La place aux Déjeuners auxquels le Membre se sera inscrit avant la suppression de son compte serait alors libéré au profit d’un Membre inscrit.
      </ul>


    <h2>8. Transactions financières</h2>
      <ul>
        <span>8.1</span> - L’association n’intervient pas dans les transactions financières relatives à l’indemnisation des Repas organisées via le Site Paupiette.
      </ul>
      <ul>
        <span>8.2</span> - L’association n’a pas connaissance des coordonnées bancaires des Membres.
      </ul>
      <ul>
        <span>8.3</span> - Le montant de l’indemnisation est fixé en fonction du règlement intérieure. La grille d’indemnisation s’articule comme suit :<br>
        - 4€ 1 plat seul<br>
        - 5€ pour 1 plat et 1 dessert où 1 entrée et 1 plat<br>
        - 7€ pour un repas complet : 1 entrée, 1 plat et 1 dessert<br>
      </ul>
      <ul>
        <span>8.4</span> - L’Association se réserve le droit de modifier les prix affichés à tout moment, étant toutefois entendu que l’indemnisation entendue le jour de la réservation du déjeuner ou de l’évènement sera la seule applicable au convive.
      </ul>


    <h2>9. Propriété intellectuelle</h2>
      <ul>
        Tous les éléments du Site <b>www.paupiette.co</b>, les systèmes, logiciels, structures, bases de données et contenus de toute nature (images, textes, visuels, logos, marques, vidéos etc. …) exploités par l’Association Paupiette sont protégés par tous droits en vigueur et sont la propriété intellectuelle et exclusive de l’Association. Tout acte de reproduction, représentation, diffusion et ou utilisation de l’un quelconque de ces éléments, en tout ou partie, sans l’autorisation de l’Association sont strictement interdits et pourront faire l’objet de poursuites judiciaires.
      </ul>


    <h2>10. Données à caractère personnel</h2>
      <ul>
        Dans le cadre de l’utilisation du Site par les Visiteurs et les Membres, l’Association est amenée à collecter et traiter certaines données à caractère personnel les concernant. Le traitement a fait l’objet d’une déclaration à la Commission Nationale de l’Informatique et des Libertés (CNIL) sous le numéro : 2055057<br><br>
        Conformément à la loi n°78-17 dite Informatique et Libertés, les Membres disposent d’un droit d’accès et de rectification des données les concernant et peuvent également, pour des motifs légitimes, s’opposer au traitement de ces données. Pour exercer ses droits, l’Association invite chaque Membre à adresser un e-mail à contact@paupiette.co ou un courrier postal à l’adresse citée article contact.
      </ul>


    <h2>11. Cookies</h2>
      <ul>
        Le site a éventuellement recours aux techniques de « cookies » lui permettant de traiter des statistiques et des informations sur le trafic, de faciliter la navigation et d’améliorer le service pour le confort de l’Utilisateur, lequel peut s’opposer à l’enregistrement de ces « cookies » en configurant son logiciel de navigation.
      </ul>


    <h2>12. Modifications</h2>
      <ul>
        <span>12.1</span> - La société se réserve la faculté de modifier à tout moment les présentes conditions générales.
      </ul>
      <ul>
        <span>12.2</span> - Le Membre inscrit sera informé de ces modifications par tout moyen utile. S’il n’accepte pas les conditions générales modifiées il doit se désinscrire des services et du Site Paupiette
      </ul>
      <ul>
        <span>12.3</span> - Les conditions générales modifiées s’appliquent immédiatement aux Visiteurs Simples qui utilisent les Services après leur entrée en vigueur. Les Visiteurs Simples sont donc invités à consulter régulièrement sur le Site la dernière version en vigueur des conditions générales.
      </ul>
      <ul>
        <span>12.4</span> - Tout Membre qui a recours aux Services postérieurement à l’entrée en vigueur des conditions générales modifiées est réputé avoir accepté ces modifications.
      </ul>


    <h2>13. Loi applicable et juridiction compétente</h2>
      <ul>
        Les présentes Conditions Générales d’Utilisation sont régies par la loi française. En cas de différent et à défaut d’accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur
      </ul>


    <h2>14. Entrée en vigueur</h2>
      <ul>
        Les présentes conditions générales sont entrées en vigueur le 12/12/2017
      </ul>
</div>
