<div class="container">
  <div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div class="paragraphe1">
        Notre communauté Paupiette est ce que nous avons de plus cher. Nous plaçons la confiance au cœur de notre projet associatif.
      </div>
      <div class="paragraphe">
        <p>La proximité</p>
        Pour faciliter l’organisation de ces repas intergénérationnels, Paupiette privilégie l’ancrage local du projet associatif. Ainsi, l’ambassadeur connaît les étudiants et les hôtes de son territoire. Il rencontre les membres de sa communauté et est garant du bon déroulement des repas.
      </div>
      <div class="paragraphe">
        <p>La flexibilité</p>
        Parce que nos hôtes sont précieux, ils ont la liberté de choisir leur menu, le nombre de convives qu’ils souhaitent accueillir et de nous communiquer leurs préférences concernant ces derniers.
      </div>
      <div class="paragraphe">
        <p>Une communauté fondée sur des valeurs</p>
        Les membres de Paupiette s’unissent autour de valeurs communes : le partage, la transmission, la générosité et la bienveillance. Ces valeurs assurent le bon déroulé des repas et une sérénité aux membres de la communauté. En cas de non-conformité aux valeurs Paupiette, les membres font l’objet d’une modération qui permet de garantir la confiance, le respect et le bon déroulement des événements Paupiette
      </div>
      <div class="paragraphe">
        <p>La confiance</p>
        Les profils des membres de la communauté sont vérifiés par l’équipe de modérateurs Paupiette. Le site offre la possibilité d’échanger avec les participants du repas grâce au système de messagerie. Le paiement se fait toujours en espèces à la fin du repas.
      </div>
      <div class="paragraphe">
        <p>Une équipe à votre écoute</p>
        L’expérience Paupiette garantit à l’hôte et aux convives la disponibilité de l’équipe Paupiette. Nous sommes là pour vous aider dans la prise en main du site, dans l’organisation de vos repas ou pour répondre à toute autre question ! Si par ailleurs vous avez des conseils, n’hésitez pas à nous les faire parvenir...Nous nous ferons un plaisir d’échanger avec vous !
      </div>
    </div>
  </div>
</div>
