<div class="contact">
  <h1 class="bkg-light-grey">Besoin de nous contacter ?</h1>
  <div class="contact-content">
    <h2>Numéro d'urgence :</h2>
    <p>06.32.09.69.76</p>
    <h2>Adresse mail d'urgence :</h2>
    <p>goulard.enora@gmail.com</p>
  </div>
</div>
