@font-face {
  font-family: 'playlistscript';
  src: font-url('Playlist_Script.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'please_write_me_a_songmedium';
    src: font-url('font-bof-webfont.woff2') format('woff2'),
         font-url('font-bof-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
