button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}


.vertical-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.fw-100{font-weight: 100}
.fw-200{font-weight: 200}
.fw-300{font-weight: 300}
.fw-400{font-weight: 400}
.fw-500{font-weight: 500}
.fw-600{font-weight: 600}
.fw-700{font-weight: 700}
.fw-800{font-weight: 800}
.fw-900{font-weight: 900}

.text-center{
  text-align: center;
}

.black{
	color: #000000;
}

.fs-30{font-size: 30px;}

.m-b-5{margin-bottom: 5px;}
.m-b-10{margin-bottom: 10px;}
.m-b-20{margin-bottom: 20px;}

.m-t-10{margin-top: 10px;}
