// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width: 500px) {
  section.home1{
    color: #FFFFFF;
    background-position: 650px!important;
  }
}

.padding-mission{
  padding: 40px 0px;
}

section.home1{
  background: image-url('image_repas.png');
  background-size: cover!important;
  background-position: right!important;
}


.mamie::before{
  content: ' ';
  display: inline-block;
  position: absolute;
  background: image-url("expli2.png") no-repeat;
  background-size: contain;
  height: 10px;
  width: 10px;
  top: 5px;
  right: 22px;
}

.selfie{
  height: 15em;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
}

.concept{
  padding-top: 20px;
  padding-bottom: 0px;
  font-size: 70px;
}

.chou-fleur{
  height: 300px;
  background-repeat: no-repeat!important;
  background-size: contain!important;
  background-position: center!important;
}

.explication h2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.la-fame{
  height: 500px;
  background-size: contain!important;
  background-repeat: no-repeat!important;
  background-position: center!important;
}

.explication ol{
  padding-left: 15px;
}

.explication{
  font-size: 25px;
}

.list-explication{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-explication h4{
  font-weight: 900;
  color: #5B1633;
  font-size: 27px
}

.list-explication {
  counter-reset: item;
}
.list-explication ol {
  list-style: none;
}
.list-explication li {
  counter-increment: item;
  margin-bottom: 5px;
  list-style: none;
}

.les-partenaires img{
  max-height: 80px;
  width: auto;
  margin: 20px;
}

.les-partenaires{
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .les-partenaires {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .resbutton, .parbutton{
    display: none;
  }

  .responsiveres{
    display: block!important;
  }

  .repas {
    font-size: 10px;
  }

  .price{
    font-size: 20px!important;
  }

  .repas h2{
    font-size: 13px;
  }

  .repas .sous-titre{
    font-size: 10px
  }
  .resparbutton, .resresbutton{
    display: block;
    width: fit-content;
    margin: auto;
  }

  .tiny-container{
    width: 100%;
    padding: 10px
  }

  .repas{
    padding-bottom: 0;
  }
}

.dashboard{
  margin-top: 10px
}

@media screen and (max-width: 720px) {
  .list-explication{
    flex-direction: column!important;
  }

  .list-explication li{
    width: 100%!important;
  }

  .la-fame{
    background-position: top!important;
    background-size: cover!important;
  }

  .title-follow-footer{
    font-size: 11px;
  }

  .padding-mission{
    padding: 20px 0px
  }
  .cgu-container {
    width:98%;
  }
}

.cgu-container {
  width:70%;
  margin:4em auto 6em;
  span {
    color:#5B1633;
    font-weight: bold;
  }
  h1 {
    font-size: 1.6em;
    text-align: center;
    font-weight: bolder;
    margin:4em auto 1em;
  }
  h2 {
    color:#A0A0A0;
    font-size: 1.2em;
    margin:2em 3em 1em;
  }
  h3 {
    font-size: 1em;
  }
}

.list-explication li h4:before {
  margin-right: 10px;
  content: counter(item)".";
  color: #5B1633;
  font-size: 27px;
  text-align: center;
  display: inline-block;
}

.repas-show-container{
  height: fit-content;
  margin: 60px auto;
  padding:0;
}

.mobile-list{
  font-size: 15px;
  padding-top: 25px;
}

.btn-paupiette{
  border: none
}

.message-input{
  border-radius: 13px;
}

.flex-columns{
  flex-direction: column;
}

.next-container{
  height: fit-content;
}

.text-left{
  text-align: left;
  width: 100%;
}

.les-copains{
  margin-top: 20px;
  margin-bottom: 20px;
}

.percent{
  margin-left: 40%;
}

.patrick{
  font-family: 'Patrick Hand SC', cursive;
  font-size: 35px;
  margin-bottom: 40px;
}

.cuisine, .glouton{
  margin-top: 10px;
  padding: 15px 20px;
}

.inner-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.inner-footer ul{
  padding: 0px;
}

.inner-footer ul li{
  font-size: 16px;
  color: #F8F7F7;
}

.inner-footer ul li a{
  font-size: 16px;
  color: #A0A0A0!important;
}

.inner-footer h2{
  text-transform: uppercase;
  font-size: 18px;
  color: #5B1633;
}

.playlist{
  font-family: 'playlistscript';
  margin-left: 1em;
}

.text-center{
  text-align: center;
}

.les-copains{
  padding-top: 30px;
}

.logo-center{

  height: 100px;
}

.navbar-paupiette{
  z-index: 999999;
  height: 80px;
}


.fixed{
  position: fixed;
  width: 100%;
}

.purple-button{
  background: #5B1633;
  color: #FFFFFF;
  padding: 15px 20px 15px 20px;
}

ul{
  list-style: none;
}

li a{
  color: #494848;
}

div.content{
  padding-top: 80px;
}

.singin{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.singin > a {
  margin:0 0.5em;
}


.baseline{

  padding:55px 0;
}

.baseline-secondline, .baseline-firstline{
  font-size: 40px;
}

.baseline h2{
  font-size: 17px;
}

.font-playlist{
  font-family: 'playlistscript';
}

.transform{
  transform: translateY(16px);
}

.spbt{
  display: flex;
  justify-content: space-between!important;
  align-items: center;
}

.onglet-right{

}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spbt{
  justify-content: space-around!important;
}

.responsiveres{
  display: none;
}

.contactbutton:hover{
  background: #FFFFFF!important;
}

body{
  font-family: 'Lato', sans-serif;
}

.part-list {
  margin: 3em 0;
  padding:2em 1em;
  h2 {
    margin: 0 auto 1em;
  }
  li {
    margin:0.5em auto;
    a {
      color:white;
      margin-left: 2em;
      padding:0.5em 1em;
    }
  }
}
