// Place all the styles related to the repas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.field{
  text-align: left!important;
}

input[type=text]{
  transition: .3s all;
  padding: 5px 20px;
}

input[type=submit]{
  cursor: pointer;
}

.back-return{
  height: 20px;
  margin-top: 20px;
}

.back-return img{
  height: 40px;
  margin-top: 20px;
}

select
{
  border-radius: 0!important;
  -webkit-appearance: none!important;
  appearance: none;
  padding: 5px;
  background-size: 19px!important;
  background-repeat: no-repeat!important;
  background-position: 95% 56%!important;
  outline: none!important;
}

select:focus{
  outline: none!important;
}

input:disabled{
  background:#A0A0A0;
}

.repas-new .field{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repas-container {
  margin:1em 0;
}

.repas-infos {
  padding:1em;
  width:100%;
}

.edit-repas {
  position:absolute;
  right:0;
  bottom:-10px;
}

.valrepas-container {
  margin-bottom: 2em;
}

.assist {
  margin-top:1em;
}
.edit-repas-header {
  display: flex;
  align-items: center;
  margin:1em 0;
  a, img {
    margin:0 !important;
  }
}

.date label{
  width: 100%;
}

select::after{
  content: 'V';
}

.date select{
  padding-right: 25px;
  font-size: 12px;
  background-size: 14px!important;
}

.pop-up {
  display: none;
  position:fixed;
  margin:0;
  padding:0;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: rgba(black,0.4);
  z-index: 9998;
}

.pop-up-container {
  position: relative;
  margin:20em auto;
  width:400px;
  background-color: white;
  height:120px;
  z-index: 9999;
  color:black;
  text-align: center;
  padding:2em 1em;
  a, a:hover {
    width:fit-content;
    height:1em;
    padding:4px 7px;
    color:white;
    text-decoration: none;
  }
}


.button-confirmation{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9999;
  background: #5B1633;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.resbutton {
  cursor: pointer;
}

.parbutton {
  text-align: center;
  p {
    margin: 0;
  }
}

.city-selector {
  width:40vw;
  padding:2em;
  text-align: center;
  margin: auto;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    margin:2em auto;
    padding:0;
    li {
      width:fit-content;
      padding:4px 7px;
      color:white;
      text-decoration: none;
      -webkit-transition: 0.4s ease-in;
      -o-transition: 0.4s ease-in;
      transition: 0.4s ease-in;
      border:1px solid transparent;
      margin:0 2em;

      &:hover {
        background: white;
        color:#5B1633;
        border:1px solid #5B1633;

      }
    }
  }
}
